@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

html, body{
    height:100%;		/* For full height images */
}

.add-button {
  position: absolute;
  top: 1px;
  left: 1px;
  /* display: "none";" */
}

.carousel-caption {
	right: 15%;
	bottom: 10px;
	left: 15%;
	z-index: 10;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #f7f4f4;
	text-align: left;
  font-size: .75em;
	position: absolute;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(24, 23, 62, 0.29));
}

@media screen and (min-width: 400px) {
  .carousel-caption  {
  	right: 15%;
  	bottom: 10px;
  	left: 15%;
  	z-index: 10;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	color: #f7f4f4;
  	text-align: left;
    font-size: 1.5em;
  	position: absolute;

}
}

@media screen and (min-width:1000px) {
  .carousel-caption {
  	right: 15%;
  	bottom: 200px;
  	left: 15%;
  	z-index: 10;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	color: #f7f4f4;
  	text-align: left;
    font-size: 2em;
  	position: absolute;

}
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.alert {
    margin-top: 55px;
    margin-bottom: 0;
}

body>.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.navbar-transparent .navbar-nav > .active > a {
    background-color: transparent;
}

.navbar-form {
    margin-right: 0;
}

.navbar-nav>li>a.profile-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav>.btn{
    margin-top:10px;
    margin-right: 1.7em;
}

.navbar-nav > li > a {
    font-size: 14px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand > img {
    float: left;
    margin-right: 10px;
}

.btn {
    background-image: none;
    -webkit-box-shadow: 0px 1px 0px #ddd;
    -moz-box-shadow: 0px 1px 0px #ddd;
    box-shadow: 0px 1px 0px #ddd;
}

/* Home page styling */
/* .corporate-jumbo {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)),
      url("/static/site/img/helloquence-61189-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: 80% center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    color: #f5f5f5;
    padding: 10em 0;
    margin-bottom: 0;
    height: 100%;
}

.corporate-jumbo .well {
    background-color: rgba(245, 245, 245, .7);
}

.corporate-jumbo p, .corporate-jumbo h1 {
    color: #eee;
    text-shadow: 0px 0px 2px black;
}

.corporate-jumbo p {
    font-weight: 500;
}

.corporate-jumbo .well legend {
    color: #333;
}
.corporate-jumbo { height: 80%; }

.corporate-jumbo > .container {
    display: block;
    position: absolute;
    bottom: 15em;
    left: 25px;
}

.contact-banner {
    padding: 100px 0;
    background: #e0e0e0;
    margin-top: 100px;
} */

.footer a:hover {
    text-decoration: none;
}

/* About page styling */
#sec1 {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
}

/* Profile page styling */
.profile-head {
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
    padding: 70px 0px 30px 20px;
}
.profile-body {
    padding: 4px 0px;
}

.text-page {
    padding: 120px 0;
}

#map-outer {
    height: 440px;
    padding: 40px 20px;
    margin-bottom: 20px;
    background-color:#FFF
}

#map-container {
    height: 400px
}

.img-dim {
    opacity: 0.5;
    box-shadow: inset 0px 0px 64px 64px #EA1717, 0px 0px 4px 4px #EA1717;
}

/* Authentication forms */
.form-box form,
.form-box .form-message {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-box form .checkbox {
  margin-bottom: 10px;
}

.form-box form .checkbox {
  font-weight: normal;
}

.form-box form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-box form .form-control:focus {
  z-index: 2;
}

.category- {
    background: transparent;
}

.category-Architectural {
  display: block;
  width: 120px;
  height: 120px;
  background-image: url("/static/site/img/124-hierarchical-structure-32x32.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
  /* background-image: url("/static/site/img/blueprint.png");
  background-repeat: no-repeat;
  background-position: 10% center;
  background-attachment: fixed;
  -webkit-background-size: auto;
  background-size: auto;
} */
.category-Electrical {
  display: block;
  width: 128px;
  height: 128px;
  background-image: url("/static/site/img/107-planning-32x32.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.category-Engineering {
  display: block;
  width: 128px;
  height: 128px;
  background-image: url("/static/site/img/engineering-32x32.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.category-Mechanical {
  display: block;
  width: 64px;
  height: 64px;
  background-image: url("/static/site/img/057-development-32x32.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.category-Structural {
  display: block;
  width: 128px;
  height: 128px;
  background-image: url("/static/site/img/087-settings-32x32.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.category-Multi-discipline{
  display: block;
  width: 120px;
  height: 120px;
  background-image: url("/static/site/img/035-chat-32x32.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.category-Environmental{
  display: block;
  width: 120px;
  height: 120px;
  background-image: url("/static/site/img/user-32x32.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.myprojects {
  background: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
                ),
    url("/static/Joy_Oil_gas_station_blueprints.jpg");
  /* background-image: url("/static/construction-workers-daylight-men-544971.jpg"); */
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0px 0 0 0px;
  position: relative;
  float: left;
  /* background-color: #f8f6f6;
  height: 300px;
  /* background-position: left; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* position: relative; */
}
.newproject {
  background: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
                ),
    url("/static/adult-architect-blueprint-o.jpg");
  /* background-image: url("/static/construction-workers-daylight-men-544971.jpg"); */
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0px 0 0 0px;
  position: relative;
  float: left;
  /* background-color: #f8f6f6;
  height: 300px;
  /* background-position: left; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* position: relative; */
}




.myprofile {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)),
    url("/static/professional-profile.jpg");
  /* background-image: url("/static/construction-workers-daylight-men-544971.jpg"); */
  background-color: #f8f6f6;
  height: 400px;
  /* background-position: left; */
  background-repeat: no-repeat;
  /* background-size: cover; */
  position: relative;
}



/* .newprojects {
  /* background-image: url("/static/construction-workers-daylight-men-544971.jpg"); */
  /* background-color: #f8f6f6; */
  /* height: 300px; */
  /* text-align: center; */
  /* background-position: left; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* position: relative; */
/* } */


.myprojects-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7f4f4;
}

.dashboard-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7f4f4;
}

/* .carousel-caption {
	right: 15%;
	bottom: 10px;
	left: 15%;
	z-index: 10;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #f7f4f4;
	text-align: left;
  font-size: .75em;
	position: absolute;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(24, 23, 62, 0.29));
} */

html,
body {
	font-size: 14px !important;
}
h1 {
	font-size: 1.602em;
}
h2 {
	font-size: 1.424em;
}
h3 {
	font-size: 1.266em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 0.889em;
}
h6 {
	font-size: 0.79em;
}
.display-1 {
	font-size: 3.906em;
}
.display-2 {
	font-size: 3.125em;
}
.display-3 {
	font-size: 2.5em;
}
.display-4 {
	font-size: 2em;
}

// Medium devices (tablets, 48em and up)
//
// At this point you have overridden Bootstraps rem's and are
// into module based font sizes should you require it.
//
// I took a while over this change because I felt that there
// is no reason why I cant use a modified scale on another
// device size. So I did, the headings have now taken on
// "Perfect Fourth" and the dislpay-* has been put to the
// Bootstrap defaults.
//
//------------------------------------------------------------//
@media (min-width: 48em) {
	h1 {
	  font-size: 2.441em;
	}
	h2 {
		font-size: 1.953em;
	}
	h3 {
		font-size: 1.563em;
	}
	h4 {
		font-size: 1.25em;
	}
	.display-1 {
		font-size: 6em;
	}
	.display-2 {
		font-size: 5.5em;
	}
	.display-3 {
		font-size: 4.5em;
	}
	.display-4 {
		font-size: 3.5em;
	}
}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {
	html,
	body {
		font-size: 16px !important;
	}
}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {
	html,
	body {
		font-size: 18px !important;
	}
}

// Pen Specific Styles
.jumbotron {
	font-size: 16px;
	@media (min-width: 62em) {
		font-size: 20px;
	}
	h1 {
		border-bottom: 4px solid #0275d8;
	}
	p.lead {
		border-radius: 4px;
	}
}

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    /* background: #eee !important; */
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

/* #3b88c3 */

section .section-title {
    text-align: center;
    color: #3b88c3;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    /* background: #ffffff; */
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #3b88c3!important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #3b88c3 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#contact .card:hover i,#contact .card:hover h4{
	color: #3b88c3;
}
.BtnAdd {
  display: none;
}
ul.special {
  list-style-type: none;
}
/* ul.errorlist {
  list-style-type: none;
} */



/* text over image */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

.module {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/static/Architect-Architecture-black-and-white-1537008.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0px 0 0 0px;
  position: relative;
  float: left;
}

.module-contact {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/static/contact_hero.jpg");
  background-size: cover;
  width: 100%;
  height: 500px;
  margin: 0px 0 0 0px;
  position: relative;
  float: left;
}



.module2 {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url({% static 'background2.jpg' %});
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}

.moduleA {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url({% static 'background2.jpg' %});
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}

.top h2 {
  color: white;
  margin: 0;
  padding: 20px;
}

.lr p {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  margin: 0;
}

.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.cap p {
  padding: 20px;
  color: white;
  position: absolute;
  font: 12px Monaco, Mono-Space;
  margin: 0;
}

.startContainer {
    margin: -20px auto 0 auto;
    position: relative;
    z-index: 10;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.98);
    text-align: center;
}

.container-flex {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
