
{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="container">


<div class="jumbotron">


<div class="container">
    <h1>Welcome</h1>
    <p>
        You can log in here!
    </p>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

  <!-- <a class = "btn btn-primary btn-sm" href="{% url 'accounts:reset_password' %}">Reset Password</a> -->
</div>
<br>
<br>
<p>Not currently a user. Click below to sign up, it's FREE</p>
<a class="btn btn-success btn-lg" href="{% url 'accounts:register' %}">Sign Up </a>
<br>
</div>
</div>
{% endblock %}
