{% extends 'base.html' %}



{% block content %}
<div class="container">
<br><br>
<div class="jumbotron">
<h1 class="display-1 text-center">Welcome to DONE!</h1>
<h1 class="display-4 text-center"> Update your contact information below. </p>

<br>

<a class = "btn btn-info btn-lg" href="{% url 'create_project' %}">Get Started!</a>
<a class = "btn btn-success btn-lg" href="{% url 'list_projects' %}">Your Projects</a>
</div>
<br>
<div class="container">
<h2>My Profile</h2>
<br>
<div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
<li class="list-group-item text-muted">User Profile</li>
<li class="list-group-item text-right"><span class="pull-left"><strong>Email:</strong></span> {{ user.email }}</li>
<li class="list-group-item text-right"><span class="pull-left"><strong>Username:</strong></span> {{ user }}</li>
<li class="list-group-item text-right"><span class="pull-left"><strong>First Name:</strong></span> {{ user.first_name }}</li>
<li class="list-group-item text-right"><span class="pull-left"><strong>Last Name:</strong></span> {{ user.last_name }}</li>
</ul>
<br>
<a class = "btn btn-primary" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
<a class = "btn btn-secondary" href="{% url 'list_projects' %}">Cancel</a>
<br>
</div>
<div class="col-sm-2">
  <br>

</div>


<div class="col-sm-6">
  <h2>Did you know!</h2>
  <p>You can share DONE with your friends and Colleagues by clicking on the share button on the top menu bar. </p>


    <!-- <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p> -->

    <!-- <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">{{ user.get_full_name }}'s Personal Profile

              <div class="panel-body">
                <strong>Company Name</strong>: {{ profile.company }}

              <br>
                <strong>Title</strong>: {{ user.userprofile.title }}

               <br>
              <strong>Website</strong>: {{ user.userprofile.website }}


            </div>
</div>
</div>
</div> -->
</div>

    <!-- <p>Company: {{ user.userprofile.company }}</p>
    <p>Title: {{ user.userprofile.title }}</p>
    <p>Website: {{ user.userprofile.website }}</p> -->

<br>
<br>
</div>
<!-- <a class = "btn btn-primary" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
<a class = "btn btn-secondary" href="{% url 'list_projects' %}">Cancel</a> -->
<br>

</div>

{% endblock %}
