{% extends 'base.html' %}


{% block content %}
<div class="container">


<div class="newprojects">
<div class="myprojects-text">

  <h1 class="display-3">Resource</h1>

  </div>
    <br>

    </div>

    </div>

    <div class="container">


    <br>
    <!-- <a class="btn btn-large btn-info" href="javascript:void(0);" onclick="startIntro();">Take a guided tour</a> -->
<br>
<br>
<h3>Complete the form below to add your profile to the DONE resources.</h3>

<div class="row">


<div class="col-md-9">
<br>
    <form  method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
      {{ form.as_p }}

      <button class = "btn btn-primary" type="submit" id='button' name="button">Save</button>
      <a class = "btn btn-secondary" href="{% url 'my_profile' %}">cancel</a>

      {% if rprofile %}
      <a class = "btn btn-danger" href="{% url 'delete_resource' rprofile.id %}">Delete</a>

      {% endif %}


    </form>
    <br>
    </div>
    </div>


    <!-- <script type="text/javascript">
         function startIntro(){
           var intro = introJs();
             intro.setOptions({
               steps: [
                 // {
                 //   intro: "Hello world!"
                 // },
                 // {
                 //   intro: "You <b>don't need</b> to define element to focus, this is a floating tooltip."
                 // },
                 {
                   element: document.querySelector('#id_title'),
                   intro: "Please enter a title for your project.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_description'),
                   intro: "Enter a breif description of your project.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_type'),
                   intro: "User the dropdown arrow to select your project type.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_location'),
                   intro: "Enter the location information for your project.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_support'),
                   intro: "Use the dropdown arrow to select the type of support your require.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_estimated_time'),
                   intro: "Select the estimated duration of your project.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_sitetime'),
                   intro: "Estimate the amount of time that the required resource will be needed onsite.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_paymentterms'),
                   intro: "Please select your organizations perferred payment terms.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_phone'),
                   intro: "Enter your perferred phone number.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_contact_me'),
                   intro: "Please select your perferred method of contact.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_timeframe'),
                   intro: "Please estimate when your project will start.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#button'),
                   intro: "Clicking the save and submit button will start the process.",
                   position: 'right'
                 },
               ]
             });

             intro.start();
         }
       </script> -->

{% endblock %}
</div>
