{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="row">
  <div class="col-md-12">


<br>
<div class="jumbotron">


<h1>My Dashboard</h1>

</div>
  <div class="row">

    {% for project in projects %}

      <div class="col-sm-6">
    <div class="card" >
      <div class="row">


      <div class="col-1" style="margin-left:10px; margin-right:10px; margin-top:15px">
        <span class="category-{{ project.type }}">
          <!-- <img class="category-{{ project.type }}"  alt="Card image cap"> -->

      </div>
      <div class="col">


        <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
    <div class="card-body">
     <a href="{% url 'update_project' project.id %}">
       {% if project.title == '' %}
         <h5 class="card-title">{{ project.id }}</h5>
      {% else %}
        <h5 class="card-title">{{ project.title }}</h5>
        {% endif %}
       </a>
       <p class="card-text">{{ project.summary }}</p>

       <!-- {% if user.is_staff %}
       <p class="card-text">{{ project.estimatedProjectCost }}</p>
       {% endif %} -->

     <!-- <a href="{% url 'update_project' project.id %}"> -->
    <!-- <li> {{ project.title }}{{ project.description }}</li> -->
  <!-- </a> -->
  <a href="{% url 'update_project' project.id %}" class="btn btn-outline-info">Edit Project</a>
  <a href="{% url 'email' project.id %}" class="btn btn-outline-success">Submit for Quote</a>
</div>
</div>
</div>
  </div>
    <br>
</div>

  {% endfor %}

  </div>
    <br>



<hr>




    </div>
    <a class="btn btn-primary" href="{% url 'create_project'%}">New Project</a>

  </div>








  <!-- </div> -->





</div>


{% endblock %}
