{% extends 'base.html' %}


{% block content %}
<div class="container">


<div class="newprojects">
<div class="myprojects-text">

  <h1 class="display-4">(NEW)</h1>
  <h1 class="display-1">PROJECT</h1>
  <h1 class="display-3">COMING SOON</h1>

  </div>

    <!-- <h1>Create a New Project or Update an Existing Project</h1> -->

    </div>
    </div>
<br>
    <div class="container">
      <div class="row">


      <div class="col-md-6">




    <br>

    <form   method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class = "btn btn-primary" type="submit" name="button">Save & Submit for quote</button>
      <a class = "btn btn-secondary" href="{% url 'list_projects' %}">cancel</a>

      {% if project %}
      <a class = "btn btn-danger" href="{% url 'delete_project' project.id %}">Delete</a>

      {% endif %}


    </form>
    <br>
</div>
<div class="col-md-2">

</div>
<div class="col-md-4">
  <h3>Projects that get DONE!</h3>
  <div class="card-deck">
  <div class="card" style="width: 18rem;">
    <br>
  <img class="card-img-top" src="/static/site/img/124-hierarchical-structure-32x32.png"  style="align-self: center;width: 32px;" alt="Card image cap">
  <div class="card-body">
    <h6 class="card-title">Architectural</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
<div class="card" style="width: 18rem;">
  <br>
<img class="card-img-top" src="/static/site/img/057-development-32X32.png" style="align-self: center;width: 32px;" alt="Card image cap">
<div class="card-body">
  <h6 class="card-title">Mechanical</h6>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>
</div>
<br>
<div class="card-deck">
<div class="card" style="width: 18rem;">
  <br>
<img class="card-img-top" src="/static/site/img/087-settings-32x32.png" style="align-self: center;width: 32px;" alt="Card image cap">
<div class="card-body">
  <h6 class="card-title">Structural</h6>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>
<div class="card" style="width: 18rem;">
  <br>
<img class="card-img-top" src="/static/site/img/107-planning-32x32.png" style="align-self: center;width: 32px;" alt="Card image cap">
<div class="card-body">
  <h6 class="card-title">Electrical</h6>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>
</div>
<br>
<div class="card-deck">
<div class="card" style="width: 18em;">
  <br>
<img class="card-img-top" src="/static/site/img/035-chat-32x32.png" style="align-self: center;width: 32px;" alt="Card image cap">
<div class="card-body">
  <h6 class="card-title">Multi-discipline</h6>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>


</div>
</div>
<br>
<!-- {% if project %}
<a href="{% url 'delete_project' project.id %}"><button class = "btn btn-danger" type="button" >Delete</button></a>

{% endif %} -->
    </div>

{% endblock %}
</div>
