{% extends 'done.html' %}


{% block content %}



<div class="newproject mid">
  <h2 class="display-1 text-center">Welcome to DONE!
  <br>
   Create your project below. </h2> -->

<!-- <div class="myprojects-text">

  <!-- <h1 class="display-4">(NEW)</h1> -->
  <!-- <h1 class="display-1">NEW PROJECT</h1> -->
  <!-- <h1 class="display-3">COMING SOON</h1> -->

  <!-- </div> -->
    <br>

    </div>



    <div class="container-flex">
      <div class="container" style="margin-top: 25px;">
      <div class="row">


      <div class="col-md-6">

    <br>
    <a class="btn btn-large btn-info" href="javascript:void(0);" onclick="startIntro();">Take a guided tour</a>
<br>
<br>
<h3>Complete the form below to get your project DONE!</h3>

<br>
    <form   method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class = "btn btn-primary" type="submit" id='button' name="button">Save & Submit for quote</button>
      <a class = "btn btn-secondary" href="{% url 'list_projects' %}">cancel</a>

      {% if project %}
      <a class = "btn btn-danger" href="{% url 'delete_project' project.id %}">Delete</a>

      {% endif %}


    </form>
    <br>
</div>
<div class="col-md-1">

</div>
<div class="col-md-5">
  <br>
  <h2 class="text-center">Projects that get DONE!</h2>
  <div class="card-deck">
  <div class="card" style="width: 20rem;">
    <br>
  <img class="card-img-top" src="/static/site/img/124-hierarchical-structure-32x32.png"  style="align-self: center;width: 32px; margin-top: 10px;" alt="Card image cap">
  <div class="card-body">
    <dt class="text-center">Architectural</dt>

      <dl>
        <dd>Building modifications</dd>
        <dd>Branding changes</dd>
        <dd>All moves adds and changes</dd>
        <dd>Layouts and Lean modifications</dd>
        <dd>CADD modifications</dd>
        <dd>Conceptual drawings</dd>
        <dd>Renderings</dd>
        <dd>Consultant management</dd>
        <dd>Vendor management</dd>


      </dl>


    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
<div class="card" style="width: 18rem;">
  <br>
<img class="card-img-top" src="/static/site/img/057-development-32X32.png" style="align-self: center;width: 32px; margin-top: 10px;"  alt="Card image cap">
<div class="card-body">
  <dt class="text-center">Electrical - Telecom</dt>

    <dl>
      <dd>Feed and distribution works</dd>
      <dd>Construction management</dd>
      <dd>Service upgrades</dd>
      <dd>Substation installs and modification</dd>
      <dd>Offshift service install management</dd>
      <dd>Consultant management</dd>
      <dd>Vendor management</dd>


    </dl>  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>
</div>
<br>
<div class="card-deck">
<div class="card" style="width: 18rem;">
  <br>
<img class="card-img-top" src="/static/site/img/engineering-32x32.png" style="align-self: center;width: 32px; margin-top: 10px;"  alt="Card image cap">
<div class="card-body">
  <dt class="text-center">Engineering</dt>

    <dl>
      <dd>Owner's representative support</dd>
      <dd>Bid-proposal analysis and support</dd>
      <dd>Earned value cost analysis</dd>
      <dd>Consultant management</dd>
      <dd>Vendor management</dd>


    </dl>  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>
<div class="card" style="width: 18rem;">
  <br>
<img class="card-img-top" src="/static/site/img/user-32x32.png" style="align-self: center;width: 32px; margin-top: 10px;"  alt="Card image cap">
<div class="card-body">
  <dt class="text-center">Environmental</dt>

    <dl>
      <dd>Permitting</dd>
      <dd>Landfill closures</dd>
      <dd>Solar</dd>
      <dd>Remediation</dd>
      <dd>Groundwater analysis</dd>
      <dd>Consultant management</dd>
      <dd>Vendor management</dd>


    </dl>  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>
</div>
<br>
<div class="card-deck">
<div class="card" style="width: 18em;">
  <br>
<img class="card-img-top" src="/static/site/img/035-chat-32x32.png" style="align-self: center;width: 32px; margin-top: 10px;"  alt="Card image cap">
<div class="card-body">
  <dt class="text-center">Mechanical</dt>

    <dl>
      <dd>HVAC</dd>
      <dd>Process piping</dd>
      <dd>Process systems and controls</dd>
      <dd>Pumps and valves</dd>
      <dd>Treatment systems</dd>
      <dd>Controls</dd>
      <dd>Consultant management</dd>
      <dd>Vendor management</dd>

    </dl>  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>
<div class="card" style="width: 18rem;">
  <br>
<img class="card-img-top" src="/static/site/img/107-planning-32x32.png" style="align-self: center;width: 32px; margin-top: 10px;"  alt="Card image cap">
<div class="card-body">
  <dt class="text-center">Multi-discipline</dt>

    <dl>

        <dd>All crafts and trades</dd>
        <dd>All Consultant management</dd>
        <dd>All Vendor management</dd>


      </dl>


   <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>


</div><br>
<div class="card-deck">
<div class="card" style="width: 18rem;">
  <br>
<img class="card-img-top" src="/static/site/img/087-settings-32x32.png" style="align-self: center;width: 32px; margin-top: 10px;"  alt="Card image cap">
<div class="card-body">
  <dt class="text-center">Structural</dt>

    <dl>
      <dd>Steel structure modifications</dd>
      <dd>Concrete structure modifications</dd>
      <dd>Foundations and footings</dd>
      <dd>Cranes and lifting devices</dd>
      <dd>Seismic modifications</dd>
      <dd>Structural isolation</dd>
      <dd>Dynamic loading</dd>
      <dd>Consultant management</dd>
      <dd>Vendor management</dd>


    </dl>  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
</div>
</div>


</div>
</div>
<br>
<!-- {% if project %}
<a href="{% url 'delete_project' project.id %}"><button class = "btn btn-danger" type="button" >Delete</button></a>

{% endif %} -->
    </div>

    <script type="text/javascript">
         function startIntro(){
           var intro = introJs();
             intro.setOptions({
               steps: [
                 // {
                 //   intro: "Hello world!"
                 // },
                 // {
                 //   intro: "You <b>don't need</b> to define element to focus, this is a floating tooltip."
                 // },
                 {
                   element: document.querySelector('#id_title'),
                   intro: "Please enter a title for your project.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_description'),
                   intro: "Enter a breif description of your project.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_type'),
                   intro: "User the dropdown arrow to select your project type.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_location'),
                   intro: "Enter the location information for your project.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_support'),
                   intro: "Use the dropdown arrow to select the type of support your require.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_estimated_time'),
                   intro: "Select the estimated duration of your project.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_sitetime'),
                   intro: "Estimate the amount of time that the required resource will be needed onsite.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_paymentterms'),
                   intro: "Please select your organizations perferred payment terms.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_phone'),
                   intro: "Enter your perferred phone number.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_contact_me'),
                   intro: "Please select your perferred method of contact.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#id_timeframe'),
                   intro: "Please estimate when your project will start.",
                   position: 'right'
                 },
                 {
                   element: document.querySelector('#button'),
                   intro: "Clicking the save and submit button will start the process.",
                   position: 'right'
                 },
               ]
             });

             intro.start();
         }
       </script>

{% endblock %}
</div>
</div>
