{% extends 'base.html' %}


{% block content %}
<div class="container">


<div class="jumbotron">


    <h1>New / Update project</h1>

    </div>

    <div class="container">
      <div class="row">


      <div class="col-md-6">




    <br>

    <form   method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class = "btn btn-primary" type="submit" name="button">Save & Submit for quote</button>
      <a class = "btn btn-secondary" href="{% url 'list_projects' %}">cancel</a>

      {% if project %}
      <a class = "btn btn-danger" href="{% url 'delete_project' project.id %}">Delete</a>

      {% endif %}


    </form>
    <br>
</div>
<div class="col-md-2">

</div>
<div class="col-md-4">
  <h3>This can be an area where you explain what types of projects get DONE!</h3>
</div>
<br>
<!-- {% if project %}
<a href="{% url 'delete_project' project.id %}"><button class = "btn btn-danger" type="button" >Delete</button></a>

{% endif %} -->
    </div>

{% endblock %}
</div>
